<h3>Login</h3>
<form id="loginForm">
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      class="form-control"
      aria-describedby="emailHelp"
      value="john.doe@example.com"
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      class="form-control"
      value="hashedpassword123"
    />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
  const loginForm = document.getElementById("loginForm")

  loginForm.addEventListener("submit", async (e)=>{
    e.preventDefault()
    const email = document.getElementById("email").value
    const password = document.getElementById("password").val
    try {
        fetch("http://localhost:3333/api/author/login", {
            method: "POST",
            headers: {
                'Content-Type': "application/json"
            },
            body: JSON.stringify({
                email,
                password
            })
        }).then((response)=>{
            console.log(response)
            if (response.ok){
                console.log("Login successfuly")
                return response.json()
            } else {
                console.log("Login failed")
            }
        })
    } catch(error){
        console.log(error)
    }
  })
</script>